@model Tin_Tot_Website.Models.ListingCardSectionViewModel
@using TinTot.Application.Common
@inject Tin_Tot_Website.Services.IEntityKeyService EntityKeyService

@if (!Model.Listings.Any())
{
    <div class="alert alert-light border">@Model.EmptyMessage</div>
}
else
{
    <div class="row g-3">
        @await Html.PartialAsync("~/Views/Shared/Components/_ListingCardItems.cshtml", Model)
    </div>
}